@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

a {
  all: unset;
  cursor: pointer;
}

html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: Montserrat;
  font-size: 15px;
}

div {
  margin: 0;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(rgb(153, 170, 181, 0), rgb(153, 170, 181, 0.5), rgb(153, 170, 181, 0.5), rgb(153, 170, 181, 0));
}

::-webkit-scrollbar-thumb:window-inactive {
background: rgb(153, 170, 181, 0.5); 
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items : center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 25px 0 25px;
}

.header-box {
  position: absolute;
  width: calc(100% - 50px);
  height: 60px;
  border-radius: 20px;
  top: calc(50% + 7.5px);
  transform: translateY(-50%);
  z-index: -1;
}

.header-logo {
  flex: 1;
  margin-left: 25px;
}

.header-logo img {
  height: 80px;
}

.header-text {
  flex: 1;
  text-align: left;
  margin-left: 5px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
}

.header-social {
  flex: 50;
  text-align: right;
  padding-right: 25px;
}

.social-logo {
  margin-left: 10px;
  display: inline-block;
}

header a > div{
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

a:hover > div{
  opacity: 1;
}

main {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-top: 15vh;
  padding: 115px 25px 100px 25px;
}

.content-box {
  width: 400px; 
  height: 400px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.content-box > div{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: left;
  padding: 10px;
}

.content-article > div:first-child {
  flex: 1;
  margin-bottom: 15px;
  font-weight: bold;
  justify-content: center;
}

.content-article > div:last-child {
  flex: 20;
  overflow-y: auto;
}

.content-image > div:first-child {
  flex: 20;
  margin-bottom: 15px;
}

.content-image > div:last-child {
  flex: 1;
}

.content-thumbnail {
  justify-content: space-between;
}

.content-thumbnail > div {
  flex: 1;
  margin-bottom: 15px;
}

.content-thumbnail > div:last-child {
  margin-bottom: 0;
}

.content-imagegrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  grid-gap: 1rem;
}

.content-imagegrid > div {
  flex: 0 0 175px;
}

.content-list > div:first-child {
  flex: 1;
  margin-bottom: 15px;
  font-weight: bold;
  justify-content: center;
}

.content-list > div:last-child {
  flex: 4;
  overflow-y: auto;
  padding: 0;
  border-radius: 0;
}

.content-list > div:last-child div {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.content-image-full > div:first-child {
  flex: 1;
}

@media only screen and (max-width: 395px) {
  .header-logo { 
    margin-left: 0; 
  }
  .header-social { 
    padding-right: 0; 
  }
  header { 
    padding-left: 5px; padding-right: 5px; 
  }
  .header-box { 
    width: calc(100% - 10px); 
  }
}
