@font-face {
  font-family: Montserrat;
  src: url('./assets/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

div {
  display: flex;
  margin: 0;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 60px;
  object-fit: contain;
  border-radius: 6px;
  padding: 0px 32px;
}

.Root {
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.Top-Container {
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
  max-width: 100%;
}

.Title-Image-Container {
  flex-direction: row;
  justify-content: space-between;
  padding: 120px 10vw 48px;
  width: 79vw;
}

.Title {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
}

.Avatar-Container {
  min-width: 280px;
  max-width: 280px;
  height: 280px;
  border-radius: 140px;
  margin-left: 80px;
}

.Button-Link {
  align-self: flex-start;
  padding-left: 10vw;
}

.Contact-BTN {
  height: 60px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.Social-Container {
  position: absolute;
  top: 32px;
  left: 24px;
}

.Social-Link {
  padding: 0px;
  margin-left: 24px;
}

.Social-Logo {
  width: 24px;
  height: 24px;
}

.Bottom-Container {
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 10vw;
}

.Copy {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.Column-1 {
  display: flex;
  flex: 1;
  margin-right: 60px;
  flex-shrink: 0;
}

.Column-2 {
  display: flex;
  flex: 1;
  margin-left: 60px;
  flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
  .Root {
    min-height: 100vh;
  }
  .Title-Image-Container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 64px;
  }

  .Avatar-Container {
    margin-left: 0px;
    margin-bottom: 48px;
  }

  .Button-Link {
    padding: 0px;
    align-self: center;
    width: 80%;
  }

  .Contact-BTN {
    width: 100%;
  }

  .Social-Container {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 48px;
    margin-left: -24px;
  }

  .Social-Logo {
    width: 28px;
    height: 28px;
  }

  .Bottom-Container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 48px 32px 24px;
  }

  .Column-1 {
    display: flex;
    flex: 1 1 auto;
    margin: 0px;
  }

  .Column-2 {
    display: flex;
    flex: 1 1 auto;
    margin: 24px 0px;
  }
}
