@font-face {
    font-family: Kodchasan;
    font-style: normal;
    font-weight: 400;
    src: url('media/Kodchasan-Regular.ttf');
}

:root {
    --height: var(--currentheight, 1vh);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    all: unset;
    cursor: pointer;
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    background-color: hsl(206, 9%, 15%);
    overflow-y: hidden;
}

.header, .footer {
    position: fixed;
}

.header {
    top: 5%;
    left: 5%;
}

.footer {
    bottom: 5%;
    right: 5%;
}

.nav {
    z-index: 100;
    position: absolute;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s, filter 1s;
}

.nav .title {
    font-family: Kodchasan, Arial;
    font-size: 1.3em;
    line-height: 1em;
    color: var(--theme-color);
    transition: opacity 1s;
}

.nav .link {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    gap: 10px;
    cursor: pointer;
}

.header .link {
    justify-content: flex-start;
}

.footer .link {
    justify-content: flex-end;
}

.nav img {
    height: 1.5em;
    display: block;
}

.nav .link > div {
    position: relative;
    padding: 5px;
    transition: filter 0.3s;
}

.nav .link > div:before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
    opacity: 0.3;
}

.nav .title:before {
    border-radius: 0.3em;
}

.nav .icon:before {
    border-radius: 0.8em;
}

.nav .icon svg {
    stroke: var(--theme-color);
    height: 1.5em;
    display: block;
    stroke-width: 1.5;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.main-mask {
    position: absolute;
    overflow: hidden;
    clip-path: circle(min(calc(var(--height) * 45), 45vw) at 50vw 50%);
    height: 100%;
    width: 100vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: clip-path 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.main {
    position: relative;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    display: grid;
    justify-content: center;
    grid-auto-rows: 100%;
    width: calc(100% + 40px);
    margin-left: -20px;
}

.sect {
    display: grid;
    grid-auto-rows: min-content;
    align-content: center;
    justify-items: center;
    scroll-snap-align: center;
    gap: 10px;
    justify-content: center;
}

.sect .title {
    font-family: Kodchasan, Arial;
    color: var(--theme-color);
    font-size: 2.5em;
}

.sect .content {
    position: relative;
    font-family: Kodchasan, Arial;
    color: var(--theme-color);
    opacity: 0.9;
    padding: 10px;
    max-width: 60vw;
    background-color: hsla(0, 0%, 50%, 0.1);
    box-shadow: 0 0 10px hsla(0, 1%, 55%, 0.1);
    font-size: 1.2em;
    border-radius: 0.5em;
}

.sect .content:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    height: 7px;
    width: 15px;
    border-bottom: 2px solid var(--theme-color);
    border-right: 2px solid var(--theme-color);
    opacity: 50%;
}

.home .avatar {
    -webkit-mask-image: radial-gradient(circle at center, black 10%, hsla(0, 0%, 0%, 0.03) 70%, hsla(0, 0%, 0%, 0.01) 85%, transparent 100%);
    mask-image: radial-gradient(circle at center, black 10%, hsla(0, 0%, 0%, 0.01) 80%, transparent 100%);
}

.home img {
    width: min(calc(var(--height) * 40), 40vw);
}

.home > div:last-child {
    padding-bottom: 65px;
}

.highlights {
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
}

.highlights .title {
    grid-column: 1 / 3;
}

.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: min(calc(var(--height) * 90), 90vw);
    width: min(calc(var(--height) * 90), 90vw);
    filter: blur(3px);
    transition: width 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6), height 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.background>div {
    transform: rotate(0deg) translate3d(0, 0, 0);
    position: absolute;
    height: 100%;
    width: 100%;
    transition: border-radius 5s ease-in-out, transform 5s ease-in-out;
    border: solid 10px var(--theme-color);
    opacity: 0.5;
    filter: drop-shadow(0 0 0.75rem var(--theme-color));
    background: rgb(0, 0, 0);
}

.onscroll .background {
    height: max(calc(var(--height) * 90), 90vw);
    width: max(calc(var(--height) * 90), 90vw);
}

.onscroll .main-mask {
    clip-path: circle(max(calc(var(--height) * 45), 45vw) at 50vw calc(var(--height) * 50));
}

.onscroll .header {
    top: 1%;
    left: 1%;
}

.onscroll .footer {
    bottom: 1%;
    right: 1%;
}

.onscroll .nav .title {
    opacity: 0;
}

.onscroll .nav:hover {
    filter: invert(1);
}

.nav:hover .title {
    opacity: 1;
}

.nav .link:hover .icon {
    filter: drop-shadow(0 0 5px var(--theme-color))
}

@media (max-width: 750px) {

    .sect .title {
        font-size: 1.5em;
    }

    .sect .content {
        max-width: 90vw;
        font-size: 1em;
    }

}

@media (max-width: 750px) {

    .highlights {
        grid-template-columns: auto;
    }

    .highlights .title {
        grid-column: unset;
    }

}

@media (max-height: 500px) and (min-aspect-ratio: 1/1) {

    .nav .title {
        display: none;
    }

    .sect:last-child {
        padding-bottom: 25px;
    }

    .sect .content {
        max-width: 75vw;
        font-size: 1em;
    }

    .main {
        grid-template-rows: 100% auto auto auto auto auto;
        scroll-snap-type: y proximity;
        gap: 50px;
    }

}

@media (max-aspect-ratio: 1/1) {

    .nav {
        grid-auto-flow: column;
    }

    .nav .title {
        display: none;
    }

    .onscroll .main {
        scroll-snap-type: y proximity;
    }

}