/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

.Root{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family:"Helvetica Neue",Helvetica, Arial;
}

div#shim{
  visibility: hidden;
  width: 100%;
  height: 50%;                                                                     
  margin-top: -140px;                                                              
  float: left;
}

.Logo-Container {
    width: 349px;
    float: left;
    border-right: 1px solid #303030;
    height: 280px;
    position: relative;
    background-position: center;
}

img {
    max-width:100%;
    height:auto;
}

div#content {
width: 940px;
height: 280px;
margin: 0 auto;
clear: both;
position: relative;
top: -140px;

/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */

h1{
  padding: 12px 70px 12px 20px;
  position: absolute;
  right: 0;
  text-align:left;
  top: 25%;
  float: left;
  color: #fff;
  letter-spacing: -1px;
  font-size: 38px;
}

h1 cufon{
  margin-bottom: -4px;
}

h3{
  font-size: 24px;
  color: #333;
  float: left;
  margin-right: 15px;
  padding-top: 5px;
}

.main_box{
  float: left;
  width: 500px;
  height: 95px;
  padding: 25px;
}

.Social-Container {
  margin-top: 16px;
  display: flex;
  max-width: 100%;
}

.Social-Logo {
  margin: 8px 16px;
}

@media only screen and (max-width: 600px) {
  .Root {
    padding: 16px;
    padding-top: 7vh;
  }

  .Logo-Container {
    margin-bottom: 32px;
  }

  .Social-Logo {
    margin: 8px;
  }

  .Social-Container {
    margin-bottom: 16px;
  }
}

h2{
  font-family: Georgia;
  color: #ffe400;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 p{
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
}

.Title{}

button {
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    object-fit: contain;
    border-radius: 6px;
    padding: 0px 32px;
  }

.Contact-BTN {
    width: auto;
    margin: 8px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.4px;
    margin-top: 1px;
    margin-left: 40px;
  }
