@font-face {
  font-family: Montserrat;
  src: url('./assets/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('./assets/Lato-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

html {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

div {
  display: flex;
  margin: 0;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  height: 60px;
  object-fit: contain;
  border-radius: 6px;
  padding: 0px 32px;
}

.Root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15vh;
}

.Logo-Container {
  height: auto;
  width: auto;
  min-height: 80px;
  min-width: 80px;
  margin-bottom: 40px;
  background-position: center;
}

.Title {
  font-family: Montserrat;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 16px;
}

.Subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 16px;
}

.Contact-BTN {
  width: auto;
  margin: 8px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.4px;
  margin-top: 24px;
}

.Social-Container {
  margin-top: 16px;
}

.Social-Logo {
  margin: 8px 16px;
}

@media only screen and (max-width: 600px) {
  .Root {
    padding: 16px;
    padding-top: 7vh;
  }

  .Logo-Container {
    margin-bottom: 32px;
  }

  .Social-Logo {
    margin: 8px;
  }

  .Social-Container {
    margin-bottom: 16px;
  }
}
