<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link href="./styles.css" rel="stylesheet" />
    <!-- Update title -->
    <title>4Sale Template</title>
    <!-- Update description -->
    <meta name="description" content="Web site created using Unstoppable Domains IPFS Template Launcher" />
</head>

<body>
    <!-- Update background-color -->
    <div class="root" style="background-color: black;">
        <!-- Update background-color -->
        <div class="bar" style="background-color: #2F76BD;"></div>
        <!-- Update background-color -->
        <div class="content" style="background-color: white;">

            <div class="box domain-box">
                <p class="text">The domain name</p>

                <!-- Update text + font-size -->
                <h1 class="title" style="font-size: 56px;">example.crypto</h1>

                <p class="text">is currently for sale!</p>

                <p class="opensea-container">
                    <!-- Update OpenSea href -->
                    <a href="https://opensea.io/" title="Buy on OpenSea" target="_blank">
                        <img class="opensea" src="./assets/opensea.png" alt="Buy On OpenSea" />
                    </a>
                </p>
            </div>

            <div class="box">
                <!-- Update background-color -->
                <div class="paper" style="background-color: white;">
                    <p class="text bold">Details</p>

                    <!-- Update ul list element details texts -->
                    <ul class="text">
                        <li>Transfer handled safely and securely on OpenSea.io</li>
                        <li>No Renewal Fees - once the domain is yours, it's yours!</li>
                    </ul>

                    <p class="text bold">Contact Owner</p>

                    <p class="img-container padding-left-desk">
                        <!-- Update href -->
                        <a class="contact margin-right" target="_top" href="mailto:webmaster@example.com" title="Email">
                            <img src="./assets/email.svg" alt="Email" height="25">
                        </a>

                        <!-- Update href -->
                        <a class="contact" target="_blank" href="https://t.me/username" title="Telegram">
                            <img src="./assets/telegram.svg" alt="Telegram" height="27">
                        </a>
                    </p>
                </div>
            </div>

        </div>
        <!-- Update background-color -->
        <div class="bar" style="background-color: #2F76BD;"></div>
        <div class="bar author-bar">
            <!-- Update author text color -->
            <p class="text author" style="color: #FFFFFF">Template by <a href="https://celestial.crypto/" title="celestial.crypto" target="_blank" style="color: #FFFFFF">celestial.crypto</a></span>
        </div>
    </div>
</body>

</html>
