/* Fonts */

@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    src: url("./assets/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    src: url("./assets/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    src: url("./assets/Lato-Black.ttf");
}

/* Elements */

html {
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    margin: 0;
    max-width: 100%;
}

h1, p {
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    height: 60px;
    object-fit: contain;
    border-radius: 6px;
    padding: 0px 32px;
}

/* Classes */

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.opensea {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.opensea:hover {
    box-shadow: 0 3px 9px 0 rgba(24, 24, 24, 0.24), 0 3px 9px 0 rgba(26, 25, 25, 0.19);
}

.contact {
    margin-top: 20px;
    text-decoration: none;
}

.bar {
    width: 100%;
    height: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 317px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 50%;
    margin: 35px;
    text-align: center;
}

.paper {
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #0a0a0a;
    display: block;
    padding: 1.25rem;
    text-align: left !important;
}

.paper p, .paper ul {
    text-align: left;
}

.bold {
    font-weight: bold !important;
}

.title {
    font-family: Montserrat;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 16px;
    color: #29293e;
}

.margin-right {
    margin-right: 35px;
}

.text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 16px;
    color: #29293e;
}

.author {
    font-size: 10px;
    padding-right: 10px;
    margin: 10px 0px 0 0;
}

.author-bar {
    text-align: end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.img-container {
    margin-top: 15px;
}

.opensea-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

.padding-left-desk {
    padding-left: 20px;
}

/* Tablet */

@media only screen and (max-width: 1024px) {
    .content {
        flex-direction: column;
        height: 94%;
    }

    .domain-box {
        justify-content: flex-end;
        margin-bottom: 0px !important;
    }
}

/* Mobile */

@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
        height: 90%;
    }

    .domain-box {
        justify-content: flex-end;
        margin-bottom: 0px !important;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 15px;
    }

    ul.subtitle {
        padding-left: 17px !important;
    }

    ul li {
        font-size: 12px;
        margin-top: 4px;
    }

    .opensea {
        width: 150px;
    }

    .padding-left-desk {
        padding-left: 0px;
    }
}